*{
    margin: 0;
}
#cupcake-title{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
header{
    background-color: rgb(0, 179, 255);
    height: 15vh;
    padding-top: 3.5vh;
    box-sizing: border-box;
}
span {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.header-element {
    margin-left: 2vw;

   
}
#box-span{
    color: black;
    font-size: 14px;

}
.box{
    background-color: rgb(7, 178, 7);
    display: block;
    width: 55vw;
    padding-top: 6vh;
    padding-left: 2vw;
    height: 13vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    border-radius: 10px;
    
}
.click-button{
    background-color: red;
    width: 33vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2vw;
    height: 12vh;
    border-radius: 10px;
    padding-top: 2vh;
    box-sizing: border-box;
    margin-bottom: 2vh;
}
#click-span{
    font-size: 1vw;
    display: block;
    text-align: center;
}
#click-text{
    font-size: 2vw;
    text-align: center;
    display: block;
    margin-top: 1.5vh;
}
.sweetest{
    background-color: midnightblue;
    padding: 30px;
}
.sweetest-title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
}
#div-footer{
   text-align: center;
    background-color: black;
    display: block table-cell;
    height: 3vh;
    margin-bottom: 0;
    width: 100%;
    
}
ul{
    width: 100%;
}
ul > li {
    color: white;
    display: inline;
    width: 3vw;
    font-family: Arial, Helvetica, sans-serif;
}
.sweetest > p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1vh;
}